{% extends 'navbar/customernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>

</head>
<body>
{% block body %}
<div>
    <h2 style="color: #669900">This is customer homepage</h2>
    <div class="container swiper">
        <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <img src="https://dg1xqmhtoint1.cloudfront.net/img/ihm/blog/ihm-14.webp?mtime=20220519170656&focal=none" alt="Picture 1">
                    <div class="card-content">

                    </div>
                </div>
</div>
{% endblock %}
</body>
</html>