{% extends 'navbar/managernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>

</head>
<body>
{% block body %}
<div>
    <h2 style="color: #669988">This is manager homepage</h2>
     <div class="container swiper">
        <div class="slide-container">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <img src="https://c8.alamy.com/comp/2CB95AB/hotel-reception-vector-illustration-cartoon-flat-tourist-or-traveller-people-standing-at-desk-in-office-lobby-room-interior-guests-talking-with-receptionist-registration-hotel-service-background-2CB95AB.jpg" alt="Picture 1">
                    <div class="card-content">

                    </div>
                </div>

</div>
{% endblock %}
</body>
</html>